*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html{
    scroll-behavior: smooth;
}

nav a:hover{
    color:  rgb(151, 207, 163);
}